<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.dokuyonetim">

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DokuYonetim">
        <activity android:name=".Activitys.GelenSiparisAyrinti"></activity>
        <activity android:name=".Activitys.BildirimYonetimi" />
        <activity android:name=".Activitys.AnasayfaIcerikleri" />
        <activity android:name=".Activitys.Kullanicilar" />
        <activity android:name=".Values.Urunler" />
        <activity android:name=".Activitys.TamamlananSiparisler" />
        <activity android:name=".Activitys.GelenSiparisler" />
        <activity android:name=".Activitys.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>